*{
    padding: 0;
    margin: 0;
    background-color: rgb(88, 88, 88);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}



button{
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    color: black;
}
button:hover{
    background-color: rgb(233, 233, 233);
}
button:active{
    background-color: rgb(247, 247, 247);
}

.game__section{
    display: grid;
    grid-template-columns: 220px 562px;
    grid-template-rows: 70% 30%;
    margin: 0;
    canvas{
        max-width: 560px;
        border: 2px white solid;
        grid-column-start:2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .game__hold{
        display: flex;
        flex-direction: column;
       
        justify-content: space-between;
        height: 250px;

        border-bottom-left-radius: 35px;
        min-width: 100%;
        background-color: black;
        border: 2px white solid;
        
        h1{
            background-color: white;
            color: black;
            text-align: left;
            
        }

        .game__hold-image{
           margin-left: 5%;
            margin-bottom: 40%;
            width: 150px;
        }
    }

    .game__highscores{
        display: none;
        overflow: hidden;
        border-bottom-right-radius: 75px;
        min-height: 500px;
        min-width: 100%;
        background-color: black;
        border: 2px white solid;
        h1{
            background-color: white;
            color: black;
            text-align: left;
        }

        p{
            background-color: black;
        }
    }

    .game__information{
        grid-column-start:1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}

@media screen and (min-width: 1000px) {
    .game__section{
        grid-template-columns: 220px 562px 220px;
        .game__highscores{
            display: inline;
        }
    }
}
